@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Roboto&display=swap');

#introduce{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5rem 2rem;
}

#introduce h3{
  margin-top: 2rem;
}

#introduce p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

h1.display-1{
  padding: 2rem;
}

span{
  color: var(--primary-color);
}

#like{
  padding: 4rem;
  background-color: var(--primary-color);
  text-align: center;
}

#like h3{
  color: var(--secondary-color);
  padding-bottom: 3rem;
}

#icons ul{
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 rem;
}

#icons li{
  list-style: none;
}

#icons img{
  color: white;
}