@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

#contact-form{
  height: calc(100vh - 15vh);
}

#text{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#text p{
  font-family: "Fredoka", sans-serif;
}

#contact-form{
  padding: 3rem 0;
}

/* form section */
#form{
  margin: 2rem 0;
}

.input-group{
  padding: 0.5rem 2rem;
}

/* icon */
.input-group-text{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.2rem;
}

/* input */
.form-control{
  font-family: "Fredoka", sans-serif;
  padding: 2rem;
}

#text.form-control{
  padding: 0.8rem;
}

/* button */
.btn{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-top: 2.5rem;
 padding: 1rem 2rem; 
}

/* social section*/
#social{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  padding: 3rem 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}


#social a{
  font-size: 3rem;
  padding: 2rem;
  color: var(--secondary-color);
}

#social a:hover{
  color: black;
}
