.language a{
  color: #F1E4D0;
  text-decoration: none;
  margin: auto 1rem;
  font-size: 1.5rem;
}

.row{
  height: 100vh;
  width: 100vw;
}

#job{
  background-color: rgb(54, 102, 64);
}

#name{
  background-color: #F1E4D0;
}

span{
  color: rgb(54, 102, 64);
}

#name, #job {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-animation {
	width: 13ch;
	border-right: 3px solid var(--secondary-color);
	overflow: hidden;	
	white-space: nowrap;	
  color: var(--secondary-color);
	line-height:1.4;
	animation: typing 2s steps(18), blink .4s step-end infinite alternate;	
}

@keyframes typing {
	from {
		width: 0;
	}
}
@keyframes blink {
	50% {
		border-color: transparent;	
	}
}