@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.row{
  --bs-gutter-x: 0;
}

#slide{
  padding: 1rem;
  text-align: center;
}

#work-group{
  padding: 5rem 3rem; 
  background-color:  var(--primary-color);
}

.card-body{
  background-color: var(--secondary-color);
  padding: 1rem 1.5rem;
}

.card-body a{
  padding: 0.5rem 2rem;
  margin: 1.5rem 0;
}

.card-title{
  padding: 1rem 0;
  font-weight: bold;
}

.card-text{
  font-family: "Fredoka", sans-serif;
}


.list-group li{
  background-color: var(--secondary-color);
  border: none;
}

.fa-brands{
  margin-right: 1rem;
  font-size: 20px;
}

.fa-html5{
  color: brown;
}

.fa-css3-alt{
  color: rgb(5, 155, 255);
}

.fa-js{
  color: rgb(255, 187, 0);
}

.fa-bootstrap{
  color: blueviolet;
}

.btn{
  background-color:  var(--primary-color);

}

#work{
  margin: 3rem 0;
  padding: 0 1.5rem;
}