@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Oleo Script', system-ui;
  font-size: 17px;
}

/* nav section */
.offcanvas{
  background-color: rgb(54, 102, 64);
}

ul{
  background-color: #F1E4D0;
}

ul.navbar-nav {
  padding: 2.5rem;
}


