@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Oleo Script', system-ui;
}

.row{
  height: 100vh;
  width: 100vw;
}

#job{
  background-color: rgb(54, 102, 64);
  color: #F1E4D0;
}

#name{
  background-color: #F1E4D0;
}

span{
  color: rgb(54, 102, 64);
}

#name, #job {
  display: flex;
  align-items: center;
  justify-content: center;
}